.body {
    background-color: rgb(32, 27, 27);
}

.background-error {
    margin-top: 10rem;
    margin-left: 2rem;
    background-color: white;
    border: 3px solid black;
    padding: 60px;
    width: 45%;
}

.right-error {
    display: flex;
    justify-content: end;
    margin-top: 10rem;
    margin-right: 2rem;
    width: 50%;
}