<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons :: head"></head>
<title>About - Tunes-R-Us</title>

<body class="about-img">
    <nav class="navbar navbar-expand-lg py-3 sticky-top colored navbar-dark ">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">Tunes-R-Us</a>
        </div>
    </nav>

    <div class="p-5">
        <div class="full-size">
            <p class="fw-bold fs-3 mb-5 font-monospace text-uppercase text-center text-light">
                Our mission:
            </p>
            <p class="fw-bold fs-1 font-monospace text-uppercase text-center text-light">
                Make people smile <br> and have fun <br>while testing their <br> music knowledge <br> and taste
            </p>
        </div>
    </div>
</body>

</html>