<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons :: head"></head>
<title>Charts - Tunes-R-Us</title>
<body class="main-background fix-footer">
<nav th:replace="fragments/commons :: nav"></nav>

<div>
    <h1 class="white-text cool-font m-4">Top 10 Artists</h1>
    <p class="fs-4 white-text cool-font m-4">Check out the current hottest artists</p>
</div>

<div>
    <div id="artists-chart-content" class="row row-cols-auto g-4">
        <!-- Script inserted data with fetch -->
    </div>
</div>

</body>
<script src="/js/fetch.js"></script>
</html>